<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.backend.shared.operationlog.LogMapper">
  <select
    id="selectByQueryLimit"
    resultType="net.wuxianjie.backend.shared.operationlog.OperationLog"
  >
    SELECT
      id,
      requested_at as requestedAt,
      client_ip as clientIp,
      username,
      message
    FROM operation_log
    <include refid="whereQuery" />
    <if test="p.sortColumn != null and p.sortColumn == 'requestedAt'">
      ORDER BY ${p.sortColumn} ${p.sortOrder}
    </if>
    LIMIT #{p.offset}, #{p.pageSize}
  </select>

  <select id="countByQuery" resultType="long">
    SELECT COUNT(1)
    FROM operation_log
    <include refid="whereQuery" />
  </select>

  <sql id="whereQuery">
    <where>
      AND requested_at &gt;= CONCAT(#{q.startAt}, ' 00:00:00')
      AND requested_at &lt;= CONCAT(#{q.endAt}, ' 23:59:59')
      <if test="q.clientIp != null and q.clientIp != ''">
        AND client_ip LIKE #{q.clientIp}
      </if>
      <if test="q.username != null and q.username != ''">
        AND username LIKE #{q.username}
      </if>
      <if test="q.message != null and q.message != ''">
        AND message LIKE #{q.message}
      </if>
    </where>
  </sql>

  <select
    id="selectLoginsLimit"
    resultType="net.wuxianjie.backend.shared.operationlog.dto.ChartData"
  >
    SELECT username AS name,
           SUM(IF(message = '登录', 1, 0)) AS value
    FROM operation_log
    GROUP BY username
    ORDER BY value DESC
    LIMIT #{limit}
  </select>

  <select
    id="selectLoginsHistory"
    resultType="net.wuxianjie.backend.shared.operationlog.dto.ChartData"
  >
    SELECT DATE_FORMAT(requested_at, '%Y-%m-%d') AS name,
           SUM(IF(message = '登录', 1, 0)) AS value
    FROM operation_log
    WHERE requested_at &gt;= DATE_SUB(CURDATE(), INTERVAL #{days} DAY)
    GROUP BY name
    ORDER BY name
  </select>

  <insert id="insert">
    INSERT INTO operation_log (
      requested_at,
      client_ip,
      username,
      message
    )
    VALUES (
      #{requestedAt},
      #{clientIp},
      #{username},
      #{message}
    )
  </insert>
</mapper>
