<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.backend.demo.mybatis.MyBatisMapper">
  <select id="selectAllData" resultType="net.wuxianjie.backend.demo.mybatis.MyBatisData">
    select
      id,
      name,
      type,
      date,
      local_date_time as localDateTime,
      local_date as localDate
    from mybatis
  </select>

  <insert id="insertData">
    insert into mybatis (
      name,
      type,
      date,
      local_date_time,
      local_date
    )
    values (
      #{name},
      #{type},
      #{date},
      #{localDateTime},
      #{localDate}
    )
  </insert>

  <delete id="truncateTable">
    truncate table mybatis
  </delete>
</mapper>
