<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.backend.shared.oplog.OpLogMapper">
  <select
    id="selectByQueryLimit"
    resultType="net.wuxianjie.backend.shared.oplog.OpLog"
  >
    select
      id,
      requested_at as requestedAt,
      client_ip as clientIp,
      username,
      message
    from op_log
    <include refid="whereQuery"/>
    <if
      test="
        p.sortColumn == 'requestedAt' or
        p.sortColumn == 'clientIp' or
        p.sortColumn == 'username'
      "
    >
      order by ${p.sortColumn} ${p.sortOrder}
    </if>
    limit #{p.offset}, #{p.pageSize}
  </select>

  <select id="countByQuery" resultType="long">
    select count(1)
    from op_log
    <include refid="whereQuery"/>
  </select>

  <sql id="whereQuery">
    <where>
      and requested_at &gt;= concat(#{q.startAt}, ' 00:00:00')
      and requested_at &lt;= concat(#{q.endAt}, ' 23:59:59')
      <if test="q.clientIp != null">and client_ip like #{q.clientIp}</if>
      <if test="q.username != null">and username like #{q.username}</if>
      <if test="q.message != null">and message like #{q.message}</if>
    </where>
  </sql>

  <select
    id="selectLoginsLimit"
    resultType="net.wuxianjie.backend.shared.dto.ChartData"
  >
    select
      username as name,
      sum(if(message = '登录', 1, 0)) as value
    from op_log
    group by name
    order by value desc
    limit #{limit}
  </select>

  <select
    id="selectLoginsHistory"
    resultType="net.wuxianjie.backend.shared.dto.ChartData"
  >
    select
      date_format(requested_at, '%Y-%m-%d') as name,
      sum(if(message = '登录', 1, 0)) as value
    from op_log
    where requested_at &gt;= date_sub(curdate(), interval #{days} day)
    group by name
    order by name
  </select>

  <insert id="insert">
    insert into op_log (
      requested_at,
      client_ip,
      username,
      message
    )
    values (
      #{requestedAt},
      #{clientIp},
      #{username},
      #{message}
    )
  </insert>
</mapper>
