<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.wuxianjie.springbootdemo.db.DbMapper">
  <select id="existsSchema" resultType="boolean">
    select exists(select 1 from information_schema.schemata where schema_name = #{schemaName})
  </select>

  <select id="existsTable" resultType="boolean">
    select exists(
      select 1 from
      information_schema.tables
      where table_schema = #{schemaName} and table_name = #{tableName}
    )
  </select>

  <update id="createSchema">
    create schema ${schemaName} default character set utf8mb4 collate utf8mb4_unicode_ci
  </update>

  <update id="createTable">
    create table ${schemaName}.${tableName} (
      id int unsigned auto_increment primary key,
      name varchar(255)
    )
  </update>

  <insert id="insertData">
    insert into ${schemaName}.${tableName} (name)
    values (#{data.name})
  </insert>

  <select id="selectAllData" resultType="net.wuxianjie.springbootdemo.db.TestData">
    select * from ${schemaName}.${tableName}
  </select>
</mapper>
